<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.console.mapper.RecFileMapper">
	<!-- 新增用户 -->
 	<insert id="addFile"  parameterType="RecFileForm">
	   insert into tb_recevice_file(
	   		fileId,
	   		fileNo,
	   		fileTitle,
	   		deptId,
	   		keyWords,
	   		secretLevel,
	   		emgLevel,
	   		status,
	   		attachment,
	   		createDate,
	   		updateDate
	   ) values(
	   	 	#{fileId, jdbcType=VARCHAR},
	   	 	#{fileNo, jdbcType=VARCHAR},
	   	 	#{fileTitle, jdbcType=VARCHAR},
	   	 	#{deptId, jdbcType=VARCHAR},
	   	 	#{keyWords, jdbcType=VARCHAR},
	   	 	#{secretLevel, jdbcType=VARCHAR},
	   	 	#{emgLevel, jdbcType=VARCHAR},
	   	 	#{status, jdbcType=VARCHAR},
	   	 	#{attachment, jdbcType=VARCHAR},
	   	 	now(),
	   	 	now()
	   )
	</insert>
	
	<!-- 修改 -->
	<update id="updateFile" parameterType="RecFileForm">
		update tb_recevice_file 
			<set>
				<if test="fileNo != null and fileNo != ''">
				 	fileNo = #{fileNo, jdbcType=VARCHAR},
				 </if>
				 <if test="fileTitle != null and fileTitle != ''">
				 	fileTitle = #{fileTitle, jdbcType=VARCHAR},
				 </if>
				 <if test="deptId != null and deptId != ''">
				 	deptId = #{deptId, jdbcType=VARCHAR},
				 </if>
				 <if test="keyWords != null and keyWords != ''">
				 	keyWords = #{keyWords, jdbcType=VARCHAR},
				 </if>
				 <if test="secretLevel != null and secretLevel != ''">
				 	secretLevel = #{secretLevel, jdbcType=VARCHAR},
				 </if>
				  <if test="emgLevel != null and emgLevel != ''">
				  	emgLevel = #{emgLevel, jdbcType=VARCHAR},
				  </if>
				 <if test="status != null and status != ''">
				 	status = #{status, jdbcType=VARCHAR},
				 </if>
				 <if test="attachment != null and attachment != ''">
				 	attachment = #{attachment, jdbcType=VARCHAR},
				 </if>
				 updateDate = now()
			</set> 
				where fileId = #{fileId, jdbcType=VARCHAR}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteFile">
		delete from tb_recevice_file where fileId = #{fileId, jdbcType=VARCHAR}
	</delete>
	
	<!-- 查询数量 -->
 	<select id="getFileSum" resultType="INTEGER">
	    SELECT
	      COUNT(1) AS sum
	    FROM
	      tb_recevice_file r, tb_dept d
	    <where>
	    	r.deptId = d.deptId
	    	<if test="keyWords != null and keyWords != ''">
				and keyWords like '%${keyWords}%'
			</if>
			<if test="fileTitle != null and fileTitle != ''">
				and fileTitle = #{fileTitle, jdbcType=VARCHAR}
			</if>
			<if test="fileNo != null and fileNo != ''">
				and fileNo = #{fileNo, jdbcType=VARCHAR}
			</if>
			<if test="secretLevel != null and secretLevel != ''">
				and secretLevel = #{secretLevel, jdbcType=VARCHAR}
			</if>
			<if test="emgLevel != null and emgLevel != ''">
				and emgLevel = #{emgLevel, jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''">
				and status = #{status, jdbcType=VARCHAR}
			</if>
			<if test="fileId != null and fileId != ''">
				and fileId = #{fileId, jdbcType=VARCHAR}
			</if>
			<if test="startDate != null and startDate !=''">
					<![CDATA[
						and createDate >= DATE_FORMAT(#{startDate, jdbcType=VARCHAR}, '%Y-%m-%d')
					]]>
				</if>
				<if test="endDate != null and endDate !=''">
					<![CDATA[
						and createDate < DATE_FORMAT(#{endDate, jdbcType=VARCHAR}, '%Y-%m-%d')
					]]>
				</if>
	    </where>
	</select>
	
	<sql id="columns">
              r.fileId,
		      r.deptId,
		      r.fileNo,
		      r.fileTitle,
		      r.keyWords,
		      r.status,
		      r.secretLevel,
		      r.emgLevel,
		      r.attachment,
		      DATE_FORMAT(r.createDate,'%Y-%m-%d %H:%i:%s')   AS createDateStr,
		      DATE_FORMAT(r.updateDate,'%Y-%m-%d %H:%i:%s')   AS updateDateStr
	</sql>
	
	<!-- 查询 -->
 	<select id="getFileList" resultType="RecFileVO">
		 	SELECT
		 		d.deptName,   
		    	<include refid="columns"/>
		    FROM
		      tb_recevice_file r, tb_dept d
		    <where>
		    	r.deptId = d.deptId
		    	<if test="keyWords != null and keyWords != ''">
					 and keyWords like '%${keyWords}%'
				</if>
				<if test="fileTitle != null and fileTitle != ''">
					and fileTitle = #{fileTitle, jdbcType=VARCHAR}
				</if>
				<if test="fileNo != null and fileNo != ''">
					and fileNo = #{fileNo, jdbcType=VARCHAR}
				</if>
				<if test="secretLevel != null and secretLevel != ''">
					and secretLevel = #{secretLevel, jdbcType=VARCHAR}
				</if>
				<if test="emgLevel != null and emgLevel != ''">
					and emgLevel = #{emgLevel, jdbcType=VARCHAR}
				</if>
				<if test="status != null and status != ''">
					and status = #{status, jdbcType=VARCHAR}
				</if>
				<if test="fileId != null and fileId != ''">
					and fileId = #{fileId, jdbcType=VARCHAR}
				</if>
				<if test="startDate != null and startDate !=''">
					<![CDATA[
						and createDate >= DATE_FORMAT(#{startDate, jdbcType=VARCHAR}, '%Y-%m-%d')
					]]>
				</if>
				<if test="endDate != null and endDate !=''">
					<![CDATA[
						and createDate <= DATE_FORMAT(#{endDate, jdbcType=VARCHAR}, '%Y-%m-%d')
					]]>
				</if>
		    </where>
		    order by fileId
			limit #{startRow}, #{endRow}
	</select>
	
	<!--查询文件信息 -->
 	<select id="getFileInfo" resultType="RecFileVO">
	    SELECT
	       <include refid="columns"/>
	    FROM
	      tb_recevice_file r
	    where fileId = #{fileId, jdbcType=VARCHAR}
	</select>
	
	<!-- 查询最大 -->
 	<select id="getMaxFileId" resultType="String">
 		SELECT MAX(fileId) as fileId FROM tb_recevice_file
	</select>
</mapper>