<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.console.mapper.SendFileMapper">
	<!-- 新增用户 -->
 	<insert id="addFile"  parameterType="SendFileForm">
	   insert into tb_send_file(
	   		fileId,
	   		fileNo,
	   		fileTitle,
	   		deptId,
	   		keyWords,
	   		secretLevel,
	   		author,
	   		checkAuthor,
	   		signAuthor,
	   		attachment,
	   		createDate,
	   		updateDate
	   ) values(
	   	 	#{fileId, jdbcType=VARCHAR},
	   	 	#{fileNo, jdbcType=VARCHAR},
	   	 	#{fileTitle, jdbcType=VARCHAR},
	   	 	#{deptId, jdbcType=VARCHAR},
	   	 	#{keyWords, jdbcType=VARCHAR},
	   	 	#{secretLevel, jdbcType=VARCHAR},
	   	 	#{author, jdbcType=VARCHAR},
	   	 	#{checkAuthor, jdbcType=VARCHAR},
	   	 	#{signAuthor, jdbcType=VARCHAR},
	   	 	#{attachment, jdbcType=VARCHAR},
	   	 	now(),
	   	 	now()
	   )
	</insert>
	
	<!-- 修改 -->
	<update id="updateFile" parameterType="SendFileForm">
		update tb_send_file 
			<set>
				<if test="fileNo != null and fileNo != ''">
				 	fileNo = #{fileNo, jdbcType=VARCHAR},
				 </if>
				 <if test="fileTitle != null and fileTitle != ''">
				 	fileTitle = #{fileTitle, jdbcType=VARCHAR},
				 </if>
				 <if test="deptId != null and deptId != ''">
				 	deptId = #{deptId, jdbcType=VARCHAR},
				 </if>
				 <if test="keyWords != null and keyWords != ''">
				 	keyWords = #{keyWords, jdbcType=VARCHAR},
				 </if>
				 <if test="secretLevel != null and secretLevel != ''">
				 	secretLevel = #{secretLevel, jdbcType=VARCHAR},
				 </if>
				  <if test="author != null and author != ''">
				  	author = #{author, jdbcType=VARCHAR},
				  </if>
				 <if test="checkAuthor != null and checkAuthor != ''">
				 	checkAuthor = #{checkAuthor, jdbcType=VARCHAR},
				 </if>
				 <if test="signAuthor != null and signAuthor != ''">
				 	signAuthor = #{signAuthor, jdbcType=VARCHAR},
				 </if>
				 <if test="attachment != null and attachment != ''">
				 	attachment = #{attachment, jdbcType=VARCHAR},
				 </if>
				 updateDate = now()
				where fileId = #{fileId, jdbcType=VARCHAR}
			</set> 
	</update>
	
	<!-- 删除 -->
	<delete id="deleteFile">
		delete from tb_send_file where fileId = #{fileId, jdbcType=VARCHAR}
	</delete>
	
	<!-- 查询数量 -->
 	<select id="getFileSum" resultType="INTEGER">
	    SELECT
	      COUNT(1) AS sum
	    FROM
	      tb_send_file
	    <where>
	    	<if test="keyWords != null and keyWords != ''">
					 keyWords like '%${keyWords}%'
				</if>
				<if test="fileTitle != null and fileTitle != ''">
					and fileTitle = #{fileTitle, jdbcType=VARCHAR}
				</if>
				<if test="fileNo != null and fileNo != ''">
					and fileNo = #{fileNo, jdbcType=VARCHAR}
				</if>
				<if test="secretLevel != null and secretLevel != ''">
					and secretLevel = #{secretLevel, jdbcType=VARCHAR}
				</if>
				<if test="author != null and author != ''">
					and author = #{author, jdbcType=VARCHAR}
				</if>
				<if test="checkAuthor != null and checkAuthor != ''">
					and checkAuthor = #{checkAuthor, jdbcType=VARCHAR}
				</if>
				<if test="signAuthor != null and signAuthor != ''">
					and signAuthor = #{signAuthor, jdbcType=VARCHAR}
				</if>
				<if test="fileId != null and fileId != ''">
					and fileId = #{fileId, jdbcType=VARCHAR}
				</if>
				<if test="startDate != null and startDate != ''">
		           	<![CDATA[
		       			AND  createDate >= TO_DATE(#{startDate, jdbcType=VARCHAR},'yyyyMMdd')
		           	]]>
		       	</if>
		   	    <if test="endDate != null and endDate != ''">
		           	<![CDATA[
		       			AND  createDate < TO_DATE(#{endDate, jdbcType=VARCHAR},'yyyyMMdd')
		           	]]>
		       	</if>
	    </where>
	</select>
	
	<sql id="columns">
              fileId,
		      deptId,
		      fileNo,
		      fileTitle,
		      keyWords,
		      secretLevel,
		      author,
		      checkAuthor,
		      signAuthor,
		      attachment,
		      DATE_FORMAT(createDate,'%Y-%m-%d %H:%i:%s')   AS createDateStr,
		      DATE_FORMAT(updateDate,'%Y-%m-%d %H:%i:%s')   AS updateDateStr
	</sql>
	
	<!-- 查询 -->
 	<select id="getFileList" resultType="SendFileVO">
		 	SELECT   
		    	<include refid="columns"/>
		    FROM
		      tb_send_file
		    <where>
		    	<if test="keyWords != null and keyWords != ''">
					 keyWords like '%${keyWords}%'
				</if>
				<if test="fileTitle != null and fileTitle != ''">
					and fileTitle = #{fileTitle, jdbcType=VARCHAR}
				</if>
				<if test="fileNo != null and fileNo != ''">
					and fileNo = #{fileNo, jdbcType=VARCHAR}
				</if>
				<if test="secretLevel != null and secretLevel != ''">
					and secretLevel = #{secretLevel, jdbcType=VARCHAR}
				</if>
				<if test="author != null and author != ''">
					and author = #{author, jdbcType=VARCHAR}
				</if>
				<if test="checkAuthor != null and checkAuthor != ''">
					and checkAuthor = #{checkAuthor, jdbcType=VARCHAR}
				</if>
				<if test="signAuthor != null and signAuthor != ''">
					and signAuthor = #{signAuthor, jdbcType=VARCHAR}
				</if>
				<if test="fileId != null and fileId != ''">
					and fileId = #{fileId, jdbcType=VARCHAR}
				</if>
		    </where>
		    order by fileId
			limit #{startRow}, #{endRow}
	</select>
	
	<!--查询文件信息 -->
 	<select id="getFileInfo" resultType="SendFileVO">
	    SELECT
	       <include refid="columns"/>
	    FROM
	      tb_send_file
	    where fileId = #{fileId, jdbcType=VARCHAR}
	</select>
	
</mapper>