<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.console.mapper.UserMapper">
	<!-- 新增用户 -->
 	<insert id="addUser"  parameterType="UserForm">
	   insert into tb_user(
	   		userId,
	   		realName,
	   		roleId,
	   		deptId,
	   		phone,
	   		mobile,
	   		email,
	   		pass,
	   		birthday,
	   		sex,
	   		position,
	   		positionSalary,
	   		levelSalary,
	   		performanceSalary,
	   		status,
	   		interest,
	   		entryDate,
	   		nativePlace,
	   		nation,
	   		politicsStatus,
	   		certId,
	   		school,
	   		eduLevel,
	   		homeAddress,
	   		major,
	   		remark,
	   		certFront,
	   		certBack,
	   		headPhoto,
	   		createDate,
	   		updateDate		
	   ) values(
	   	 	#{userId, jdbcType=VARCHAR},
	   	 	#{realName, jdbcType=VARCHAR},
	   	 	#{roleId, jdbcType=INTEGER},
	   	 	#{deptId, jdbcType=VARCHAR},
	   	 	#{phone, jdbcType=VARCHAR},
	   	 	#{mobile, jdbcType=VARCHAR},
	   	 	#{email, jdbcType=VARCHAR},
	   	 	#{pass, jdbcType=VARCHAR},
	   	 	#{birthday, jdbcType=DATE},
	   	 	#{sex, jdbcType=INTEGER},
	   	 	#{position, jdbcType=VARCHAR},
	   	 	#{positionSalary, jdbcType=VARCHAR},
	   	 	#{levelSalary, jdbcType=VARCHAR},
	   	 	#{performanceSalary, jdbcType=VARCHAR},
	   	 	#{status, jdbcType=VARCHAR},
	   	 	#{interest, jdbcType=VARCHAR},
	   	 	#{entryDate, jdbcType=DATE},
	   	 	#{nativePlace, jdbcType=VARCHAR},
	   	 	#{nation, jdbcType=VARCHAR},
	   	 	#{politicsStatus, jdbcType=VARCHAR},
	   	 	#{certId, jdbcType=VARCHAR},
	   	 	#{school, jdbcType=VARCHAR},
	   	 	#{eduLevel, jdbcType=VARCHAR},
	   	 	#{homeAddress, jdbcType=VARCHAR},
	   	 	#{major, jdbcType=VARCHAR},
	   	 	#{remark, jdbcType=VARCHAR},
	   	 	#{certFront, jdbcType=VARCHAR},
	   	 	#{certBack, jdbcType=VARCHAR},
	   	 	#{headPhoto, jdbcType=VARCHAR},
	   	 	NOW(),
	   	 	NOW()
	   )
	</insert>
	
	<!-- 修改 -->
	<update id="updateUser" parameterType="UserForm">
		update tb_user 
			<set>
				sex = #{sex, jdbcType=INTEGER},
				<if test="realName != null and realName != ''">
				 	realName = #{realName, jdbcType=VARCHAR},
				 </if>
				 <if test="roleId != null and roleId != ''">
				 	roleId = #{roleId, jdbcType=INTEGER},
				 </if>
				 <if test="deptId != null and deptId != ''">
				 	deptId = #{deptId, jdbcType=INTEGER},
				 </if>
				 <if test="phone != null and phone != ''">
				 	phone = #{phone, jdbcType=VARCHAR},
				 </if>
				 <if test="mobile != null and mobile != ''">
				 	mobile = #{mobile, jdbcType=VARCHAR},
				 </if>
				  <if test="email != null and email != ''">
				  	email = #{email, jdbcType=VARCHAR},
				  </if>
				 <if test="pass != null and pass != ''">
				 	pass = #{pass, jdbcType=VARCHAR},
				 </if>
				 <if test="birthday != null and birthday != ''">
				 	birthday = #{birthday, jdbcType=DATE},
				 </if>
				 
				 <if test="position != null and position != ''">
				 	position = #{position, jdbcType=VARCHAR},
				 </if>
				 <if test="positionSalary != null and positionSalary != ''">
				 	positionSalary = #{positionSalary, jdbcType=VARCHAR},
				 </if>
				 <if test="levelSalary != null and levelSalary != ''">
				 	levelSalary = #{levelSalary, jdbcType=VARCHAR},
				 </if>
				 <if test="performanceSalary != null and performanceSalary != ''">
				 	performanceSalary = #{performanceSalary, jdbcType=VARCHAR},
				 </if>
				 <if test="status != null and status != ''">
				 	status = #{status, jdbcType=VARCHAR},
				 </if>
				 <if test="interest != null and interest != ''">
				 	interest = #{interest, jdbcType=VARCHAR},
				 </if>
				 <if test="entryDate != null and entryDate != ''">
				 	entryDate = #{entryDate, jdbcType=DATE},
				 </if>
				 <if test="nativePlace != null and nativePlace != ''">
				 	nativePlace = #{nativePlace, jdbcType=VARCHAR},
				 </if>
				 <if test="nation != null and nation != ''">
				 	nation = #{nation, jdbcType=VARCHAR},
				 </if>
				 <if test="politicsStatus != null and politicsStatus != ''">
				 	politicsStatus = #{politicsStatus, jdbcType=VARCHAR},
				 </if>
				 <if test="certId != null and certId != ''">
				 	certId = #{certId, jdbcType=VARCHAR},
				 </if>
				 <if test="school != null and school != ''">
				 	school = #{school, jdbcType=VARCHAR},
				 </if>
				 <if test="eduLevel != null and eduLevel != ''">
				 	eduLevel = #{eduLevel, jdbcType=VARCHAR},
				 </if>
				 <if test="homeAddress != null and homeAddress != ''">
				 	homeAddress = #{homeAddress, jdbcType=VARCHAR},
				 </if>
				 <if test="major != null and major != ''">
				 	major = #{major, jdbcType=VARCHAR},
				 </if>
				 <if test="remark != null and remark != ''">
				 	remark = #{remark, jdbcType=VARCHAR},
				 </if>
				 <if test="certFront != null and certFront != ''">
				 	certFront = #{certFront, jdbcType=VARCHAR},
				 </if>
				 <if test="certBack != null and certBack != ''">
				 	certBack = #{certBack, jdbcType=VARCHAR},
				 </if>
				 <if test="headPhoto != null and headPhoto != ''">
				 	headPhoto = #{headPhoto, jdbcType=VARCHAR},
				 </if>
				 <if test="infoPdf != null and infoPdf != ''">
				 	infoPdf = #{infoPdf, jdbcType=VARCHAR},
				 </if>
				 updateDate = NOW()
			</set> 
				where userId = #{userId, jdbcType=VARCHAR}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteUser">
		delete from tb_user where userId = #{userId, jdbcType=VARCHAR}
	</delete>
	
	<!-- 查询数量 -->
 	<select id="getUserSum" resultType="INTEGER" parameterType="java.util.Map">
	    SELECT   
		    	count(1) as sum
		    FROM
		      tb_user u left join tb_dept d on  u.deptId = d.deptId 
		      left join tb_role r on u.roleId = r.roleId
		    <where>
		    	<if test="realName != null and realName != ''">
					and u.realName like '%${realName}%'
				</if>
				<if test="userId != null and userId != ''">
					and u.userId = #{userId, jdbcType=VARCHAR}
				</if>
				<if test="phone != null and phone != ''">
					and u.phone = #{phone, jdbcType=VARCHAR}
				</if>
				<if test="mobile != null and mobile != ''">
					and u.mobile = #{mobile, jdbcType=VARCHAR}
				</if>
				<if test="deptId != null and deptId != ''">
					and u.deptId = #{deptId, jdbcType=VARCHAR}
				</if>
		    </where>
	</select>
	
	<sql id="columns">
              u.userId,
              u.realName,
              u.pass,
		      u.phone,
		      u.mobile,
		      u.email,
		      u.birthday,
		      DATE_FORMAT(u.birthday,'%Y-%m-%d')   AS birthdayStr,
		      u.createDate,
		      DATE_FORMAT(u.createDate,'%Y-%m-%d %H:%i')   AS createDateStr,
		      u.updateDate,
		      DATE_FORMAT(u.updateDate,'%Y-%m-%d %H:%i')   AS updateDateStr,
		      u.position,
		      u.positionSalary,
		      u.levelSalary,
		      u.performanceSalary,
		      u.status,
		      u.interest,
		      u.entryDate,
		      DATE_FORMAT(u.entryDate,'%Y-%m-%d')   AS entryDateStr,
		      u.nativePlace,
		      u.nation,
		      u.politicsStatus,
		      u.certId,
		      u.school,
		      u.eduLevel,
		      u.homeAddress,
		      u.major,
		      u.certFront,
		      u.certBack,
		      u.headPhoto,
		      u.infoPdf,
		      u.deptId,
		      u.roleId,
		      u.sex,
		      u.remark
	</sql>
	<!-- 查询 -->
 	<select id="getUserList" resultType="UserVO">
		 	SELECT
		 	  	d.deptName,
		 	  	 r.roleName,
		    	<include refid="columns"/>
		    FROM
		      tb_user u left join tb_dept d on  u.deptId = d.deptId 
		      left join tb_role r on u.roleId = r.roleId
		    <where>
		    	<if test="realName != null and realName != ''">
					and u.realName like '%${realName}%'
				</if>
				<if test="userId != null and userId != ''">
					and u.userId = #{userId, jdbcType=VARCHAR}
				</if>
				<if test="phone != null and phone != ''">
					and u.phone = #{phone, jdbcType=VARCHAR}
				</if>
				<if test="mobile != null and mobile != ''">
					and u.mobile = #{mobile, jdbcType=VARCHAR}
				</if>
				<if test="deptId != null and deptId != ''">
					and u.deptId = #{deptId, jdbcType=VARCHAR}
				</if>
				<if test="firstDay != null and firstDay !=''">
					<![CDATA[
						and birthday >= DATE_FORMAT(#{firstDay, jdbcType=VARCHAR}, '%Y-%m-%d')
					]]>
				</if>
				<if test="lastDay != null and lastDay !=''">
					<![CDATA[
						and birthday <= DATE_FORMAT(#{lastDay, jdbcType=VARCHAR}, '%Y-%m-%d')
					]]>
				</if>
		    </where>
		    order by u.createDate desc
			limit #{startRow}, #{endRow}
	</select>
	
	<!--查询用户-->
 	<select id="findUser" resultType="User">
	    SELECT
	      <include refid="columns"/>
	    FROM
	      tb_user u
	    where u.userId = #{userId, jdbcType=VARCHAR}
	</select>
	
	<!--查询用户信息 -->
 	<select id="getUserInfo" resultType="UserVO">
	    SELECT
	      d.deptName,
	      <include refid="columns"/>
	    FROM
	      tb_user u, tb_dept d
	    where u.deptId = d.deptId
	    and u.userId = #{userId, jdbcType=VARCHAR}
	</select>
	
</mapper>