<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.console.mapper.UserMenuMapper">
	
	<!-- 删除 -->
	<delete id="deleteUserMenu">
		delete from tb_user_menu where userId = #{userId, jdbcType=VARCHAR}
	</delete>
	
	<sql id="columns">
             um.userId,
             m.menuId,
             m.menuName,
             m.superMenuId,
             m.linkUrl,
             m.remark
	</sql>
	<!-- 查询 -->
 	<select id="getUserMenuList" resultType="UserMenuVO">
		 	SELECT   
		    	<include refid="columns"/>
		    FROM
		      tb_user_menu um, tb_menu m
		    <where>
		    	um.menuId = m.menuId
				<if test="userId != null and userId != ''">
					and userId = #{userId, jdbcType=VARCHAR}
				</if>
		    </where>
		    order by userId
	</select>
	
	<!-- 新增用户个人简历（毕业学校信息） -->
 	<insert id="addUserMenu"  parameterType="UserMenu">
	   insert into tb_user_menu(
	   		userId,
	   		menuId
	   ) values(
	   	 	#{userId, jdbcType=VARCHAR},
	   	 	#{menuId, jdbcType=VARCHAR}
	   )
	</insert>
	
</mapper>